body {
	font-family:"courier new";
	color:rgb(80,30,30);

	background-color:#F8ECC2;
   background: -webkit-linear-gradient(left, #F8ECC2 , white);
   background: -o-linear-gradient(right, #F8ECC2, white);
   background: -moz-linear-gradient(right, #F8ECC2, white);
   background: linear-gradient(to right, #F8ECC2, white);

}

h1 {
	text-decoration:underline;

}

h1.death {
	color:red;
	font-style:italic;

}

div.storyText {
   float:left;
   width:75%;

}

div.mainImage {
	float:left;
	width:75%;
}

img.mainImage {
   display:block;
   margin-left:auto;
   margin-right:auto;
	float:left;
   width:100%;

}

div.choices {
   background-color:white;
   border-style:outset;
	float:right;
	width:24%;

}

img.arrow {
	width:100px;
	height:50px;

}
